<div id='release-notes' class='changelog-container'>
  <h2>Release notes</h2>
  <% if @relese_notes %>
    <% @relese_notes.each do |release| %>
      <h3><%= release[:version] %></h3>
      <%= render 'release_version_details', :user_stories => release[:user_stories][:features], :story_type => 'Feature' %>
      <%= render 'release_version_details', :user_stories => release[:user_stories][:bugs], :story_type => 'Bug' %>
    <% end %>
  <% end %>
</div>