<div class='changelog-container'>
  <h1>Edit Release Version</h1>
  <div id='warning'>Changing release version name will delete all stories associated to old name!</div>

  <%= render 'form' %>

  <%= link_to 'Show', @changelog_version %> |
  <%= link_to 'Back', changelog_versions_path %>
</div>